{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc." />

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static '/assets/favicon/favicon.ico' %}" type="image/x-icon"/>
    <!-- Map CSS -->
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css" />
    <!-- Libs CSS -->
    <link rel="stylesheet" href="{% static '/assets/css/libs.bundle.css' %}" />
    <!-- Theme CSS -->
    <link rel="stylesheet" href="{% static '/assets/css/theme.bundle.css' %}" />

    <!-- Title -->
    <title>Dashkit</title>
  </head>
  <body class="d-flex align-items-center bg-auth border-top border-top-2 border-primary">

    <!-- CONTENT
    ================================================== -->
    {% block content %}

    {% endblock %}

    <!-- JAVASCRIPT -->
    <!-- Map JS -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
    <!-- Vendor JS -->
    <script src="{% static '/assets/js/vendor.bundle.js' %}"></script>
    <!-- Theme JS -->
    <script src="{% static '/assets/js/theme.bundle.js' %}"></script>

  </body>
</html>
